@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');

.center-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 30px; 
    margin-top: 30px;
  }
  
  .center-title ion-title {
    text-align: center;
  }


ion-content {
  --ion-background-color: #0E1621; 
  --ion-text-color: #E0E0E0; 
  --ion-font-family: 'Victor Mono', monospace;
}


ion-card {
  background-color: #507BC3; 
  color: #FFFFFF; 
}

.logo {
  max-width: 125px; 
  max-height: 85px; 
  display: block; 
  margin: 0 auto; 
}

  