<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <div class="center-title">
        <ion-title size="large">EDICIONES</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let news of newsWithoutImages">
    <a [href]="news.link" target="_blank">
      <ion-img [src]="news.image"></ion-img>
    </a>
    <ion-card-content>
      <ion-card-title>{{ news.heading }}</ion-card-title>
      <p>{{ news.excerpt }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
  
