<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <div class="center-title">
        <ion-img class="logo" src="assets/images/logo.png"></ion-img>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let revista of revistasData">
    <a [href]="revista.link" target="_blank">
      <ion-img [src]="revista.image"></ion-img>
    </a>
    <ion-card-content>
      <ion-card-title>{{ revista.titulo }}</ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>

  
