<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="center-title">
        <ion-title size="large">Ediciones</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let news of newsWithoutImages">
      <ion-label>
        <h2>{{ news.heading }}</h2>
        <p>{{ news.excerpt }}</p>
        <a [href]="news.link" target="_blank">Leer más</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
