@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');

.news-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }

  ion-card-title a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
  }

/* Estilo para la fila centrada */
.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Estilo para la imagen del encabezado */
  .header-image {
    max-width: 200px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: auto;
  }
  
  /* Estilo para el título del encabezado */
  .header-title {
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
    font-weight: bold;
  }

  /* Estilo para las tarjetas */
  .card-spacing {
    margin-top: 20px;
  }

  /* Estilo para el título de las noticias */
  .news-title {
    text-align: center;
  }

  ion-content {
    --ion-background-color: #0E1621; /* Cambia el fondo a un color oscuro */
    --ion-text-color: #E0E0E0; /* Cambia el color del texto a blanco */
    --ion-font-family: 'Victor Mono', monospace;
  }
  
  /* Cambia el color de fondo de las cards */
  ion-card {
    background-color: #507BC3; /* Cambia el color de fondo de las cards a azul eléctrico */
    color: #FFFFFF; /* Cambia el color del texto de las cards a blanco */
  }


  
  
  