<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-row class="center-title">
        <ion-col size="auto">
          <ion-img src="assets/images/logo.png" alt="Medios Contraplano" class="header-image"></ion-img>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>


    <ion-card *ngFor="let news of newsWithImages">
      <ion-img [src]="news.image"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <a [href]="news.link" target="_blank">{{ news.heading }}</a>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ news.excerpt }}</p>
      </ion-card-content>
    </ion-card>
</ion-content>
