/* En tu archivo .scss correspondiente */
/* En tu archivo .scss correspondiente */

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');

.esferas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

ion-content {
  --ion-background-color: #0E1621; /* Cambia el fondo a un color oscuro */
  --ion-text-color: #E0E0E0; /* Cambia el color del texto a blanco */
  --ion-font-family: 'Victor Mono', monospace;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 120px; /* Ajusta el tamaño del botón */
    height: 120px; /* Ajusta el tamaño del botón */
    margin: 10px;
    font-size: 28px;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
  }

.red-social-button ion-icon {
  font-size: 48px; 
}

.red-social-button.blanco {
  background-color: #507BC3;
  color: #FFFFFF;
}

.red-social-button.negro {
  background-color: #1E1E1E;
  color: white;
}

.red-social-button:focus {
  background-color: var(--ion-color-primary); 
}

.red-social-button:active {
  transform: scale(1.1);
}

  

.toolbar-title {
    text-align: center;
    width: 100%;
  }

  
  
  
  
  
  